/* gobal */
*{
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 16px;
}
header{
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 10;
    width: 100%;
}

.header__detail i, .header__detail span{
    font-size: 14px;
}
.header__detail span{
    border-color: rgb(255,255,255,0.2) !important;
}
.header__navbar .nav-item .nav-link
{
    color: white;
    padding: 0 20px;
}
/* .header__navbar .nav-item{
    
} */
.header__navbar .navbar-nav{
    border-bottom:1px solid rgb(255,255,255,0.2) !important;
}
.header__navbar .nav-item::after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all .4s;
}
.header__navbar .nav-item:hover::after, .header__navbar .nav-item.active::after{
    width: 100%;
}

.carousel-item__overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to top,black,transparent);

}
.carousel-item__caption{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
.carousel-item__caption .title{
    color: #fbbd61;
    font-size: 14px;
    letter-spacing: 2px;
}
.carousel-item__caption p{
    font-size: 18px;
    padding-right: 25%;
}
.carosel-item__trailer span{
    width: 40px;
    height: 40px;
    border:2px solid white;
    color: white;
    line-height: 35px;
    font-size: 12px;
}
.btn-orange{
    background: linear-gradient(to right,#fbbd61,#ec7532);
    border-radius: 40px;
    border: none;
    letter-spacing: 2px;
    font-size: 14px;
    color: white;
    padding: 11px 30px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    
    
}
.btn-orange::before{
    content: '';
    height: 100%;
    padding: 20px 40px;
    background-color: #ec7532;
    /* set width về 0 để tạo hover */
    width: 0;
    /* tạo độ xéo cho background */
    transform: skew(30deg);
    position: absolute;
    top: 0;
    left: -90px;
    /* tạo hiệu ứng mượt */
    transition: all .5s;

    /* độ ưu tiên hiển thị */
    z-index: 0;
}
.btn-orange:hover::before{
    width: 150%;
}
.btn-orange i{
    z-index: 1;
    letter-spacing: 2px;
    font-size: 14px;

    /* set vị trí cho icon và text */
    position: relative;
}

.carousel-indicators{
    bottom: 50px;
}
.carousel-indicators li{
    width: 11px;
    height: 11px;
    background: transparent;
    border: 1.5px solid white;
    border-radius: 50%;
}
.carousel-indicators li.active{
    background: white;
}

.movie{
    padding-top: 80px;
}
.movie__title{
    color: #ec7532;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    border-bottom:1px solid rgb(0,0,0,0.1) ;
    padding-bottom: 20px;
    position: relative;
}
.movie__title::after{
    content: '';
    width: 140px;
    height: 3px;
    background-image: linear-gradient(to right,#fbbd61,#ec7532); 
    position: absolute;
    bottom: -1px;
    left: 0;
}
.movie__item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.movie__detail{
    position: absolute;
    top: 20%;
    transform: translate(-50%);
    left: 50%;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all .2s;
}
.movie__detail>a>i{
    width: 80px;
    height: 80px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 10px auto;
    line-height: 80px;
    
}
.movie__detail .movie__readmore{
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 10px;
}
.movie__detail span{
    font-size: 16px;
}
.movie__overlay{
    position: absolute;
    top: 0;
    left: -400%;
    transform: skewX(45deg);
    background: linear-gradient(to bottom,#fbbd61,#ec7532);
    width: 300%;
    height: 100%;
    transition: all .5s;
    opacity: 0.8;
}
.movie__item:hover .movie__overlay{
left: -100%;
}
.movie__item:hover .movie__detail{
    opacity: 1;
}
.movie__name{
    font-size: 18px;
    margin-top: 15px;
}
.movie__star{
    color: #fbbd61;
}
.showtime{
    padding-top: 80px;
}
.showtime .nav-tabs .nav-link{
    position: relative;
    color: #4a4a4a;
    padding: 10px 30px;
}
.showtime .nav-tabs .nav-link::after{
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -1px;
    left: 0;
    display: inline-block;
    background: linear-gradient(to bottom,#fbbd61,#ec7532);
} 
.showtime .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,.showtime .nav-tabs .nav-link:hover{
border: white;
}